

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "zerocons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */


  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "zerocons"; /* Project id 76931 */
  src: url('//at.alicdn.com/t/font_76931_ofrlowgh2c9.woff2?t=1650862897393') format('woff2'),
  url('//at.alicdn.com/t/font_76931_ofrlowgh2c9.woff?t=1650862897393') format('woff'),
  url('//at.alicdn.com/t/font_76931_ofrlowgh2c9.ttf?t=1650862897393') format('truetype');
}

.zerocons {
  font-family: "zerocons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaoshimoshi-:before {
  content: "\e6fe";
}

.icon-kaoshi:before {
  content: "\e6f6";
}

.icon-kaoshi1:before {
  content: "\e6fc";
}

.icon-jixiaokaoping:before {
  content: "\e6ed";
}

.icon-zuoye:before {
  content: "\e6ee";
}

.icon-gengduoyoulunbanqi:before {
  content: "\e6fb";
}

.icon-shijuan:before {
  content: "\e6ef";
}

.icon-tiku:before {
  content: "\e6f0";
}

.icon-tiku1:before {
  content: "\e6f1";
}

.icon-tiku2:before {
  content: "\e6f2";
}

.icon-zuoye1:before {
  content: "\e6f4";
}

.icon-kaoping:before {
  content: "\e6f5";
}

.icon-fenleiorguangchangorqita:before {
  content: "\e6e8";
}

.icon-fenlei:before {
  content: "\e6e9";
}

.icon-fenlei1:before {
  content: "\e6ea";
}

.icon-fenlei2:before {
  content: "\e6eb";
}

.icon-fenlei3:before {
  content: "\e706";
}

.icon-grouping:before {
  content: "\e6ec";
}

.icon-zhengshu:before {
  content: "\e6e1";
}

.icon-xuexiao_jiaoshi:before {
  content: "\e6e2";
}

.icon-jiaoyu:before {
  content: "\e6e3";
}

.icon-kecheng:before {
  content: "\e6e5";
}

.icon-jiaoshi:before {
  content: "\e7d0";
}

.icon-hetong:before {
  content: "\e6e6";
}

.icon-ddd:before {
  content: "\e6e7";
}

.icon-xianshizhekou:before {
  content: "\e6df";
}

.icon-seo:before {
  content: "\e6de";
}

.icon-zhandianditu:before {
  content: "\e6dd";
}

.icon-duoyuyan1:before {
  content: "\e6d6";
}

.icon-tongzhi:before {
  content: "\e6d9";
}

.icon-jiekou:before {
  content: "\e6db";
}

.icon-xtracelianluzhuizong:before {
  content: "\e6fa";
}

.icon-huabanfuben:before {
  content: "\e6d8";
}

.icon-jishitongxun:before {
  content: "\e6d5";
}

.icon-11:before {
  content: "\e6d7";
}

.icon-zhibo:before {
  content: "\e6d2";
}

.icon-paotui:before {
  content: "\e6d1";
}

.icon-close:before {
  content: "\e6cb";
}

.icon-close1:before {
  content: "\e6cc";
}

.icon-close2:before {
  content: "\e6cd";
}

.icon-close3:before {
  content: "\e6ce";
}

.icon-close4:before {
  content: "\e6cf";
}

.icon-code1:before {
  content: "\eb9f";
}

.icon-history:before {
  content: "\e6ca";
}

.icon-api:before {
  content: "\e888";
}

.icon-duoyuyan:before {
  content: "\e6c6";
}

.icon-yunbushu:before {
  content: "\e701";
}

.icon-APIwendang:before {
  content: "\e6c7";
}

.icon-cluster:before {
  content: "\e6c8";
}

.icon-gerendingzhi:before {
  content: "\e6c9";
}

.icon-sudu:before {
  content: "\e6c5";
}

.icon-msnui-service:before {
  content: "\e784";
}

.icon-anquanbaozhang:before {
  content: "\e6c3";
}

.icon-diamonds:before {
  content: "\e6c4";
}

.icon-lipin:before {
  content: "\e6c1";
}

.icon-manjian:before {
  content: "\e6c2";
}

.icon-weibiaoti1:before {
  content: "\e669";
}

.icon-haibao:before {
  content: "\e66d";
}

.icon-huodongtuiguang:before {
  content: "\e6ac";
}

.icon-miaosha:before {
  content: "\e6b3";
}

.icon-xingxiaoxiaoguo:before {
  content: "\e6c0";
}

.icon-add-circle:before {
  content: "\e667";
}

.icon-chazhao:before {
  content: "\e66a";
}

.icon-daifukuan:before {
  content: "\e66b";
}

.icon-dianpushoucang:before {
  content: "\e66c";
}

.icon-tihuohexiao1:before {
  content: "\e670";
}

.icon-shoucang:before {
  content: "\e68c";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-cart:before {
  content: "\e672";
}

.icon-add:before {
  content: "\e6e0";
}

.icon-dianpu2:before {
  content: "\e68f";
}

.icon-wuliukuaidi:before {
  content: "\e674";
}

.icon-daijinquan:before {
  content: "\e677";
}

.icon-zuji-circle:before {
  content: "\e678";
}

.icon-weiguiwenzhangpuguangtai:before {
  content: "\e67b";
}

.icon-hongbao:before {
  content: "\e7d5";
}

.icon-shoucang1:before {
  content: "\e69c";
}

.icon-cangkuzhong:before {
  content: "\e67c";
}

.icon-yuyue:before {
  content: "\e67d";
}

.icon-shanchu1:before {
  content: "\e67e";
}

.icon-kanjia:before {
  content: "\e67f";
}

.icon-tuihuanhuo:before {
  content: "\e681";
}

.icon-shezhidaifahuo:before {
  content: "\e682";
}

.icon-yuanxinggouwucheyangshi:before {
  content: "\e683";
}

.icon-chongzhiqia:before {
  content: "\e685";
}

.icon-weiguishangpin:before {
  content: "\e686";
}

.icon-peisongdizhi:before {
  content: "\e687";
}

.icon-qingchuhuancun:before {
  content: "\e68a";
}

.icon-swticonkuaidi:before {
  content: "\e690";
}

.icon-wodezichan:before {
  content: "\e691";
}

.icon-yue:before {
  content: "\e889";
}

.icon-fabu:before {
  content: "\e692";
}

.icon-pintuanzhuanqu:before {
  content: "\e693";
}

.icon-kuaidi2:before {
  content: "\e699";
}

.icon-search1:before {
  content: "\e694";
}

.icon-qiachongzhi:before {
  content: "\e6f9";
}

.icon-shangpinshoucang:before {
  content: "\e695";
}

.icon-shangpinfabu:before {
  content: "\e696";
}

.icon-jiangpin:before {
  content: "\e697";
}

.icon-shouhuodizhi1:before {
  content: "\e69a";
}

.icon-zaixian-im:before {
  content: "\e69b";
}

.icon-cart1:before {
  content: "\e69d";
}

.icon-huiyuanjulebu:before {
  content: "\e69e";
}

.icon-yonghushezhi:before {
  content: "\e69f";
}

.icon-dingdanwancheng:before {
  content: "\e6a1";
}

.icon-weiguishidechulidongzuo:before {
  content: "\e6a2";
}

.icon-ziyuan:before {
  content: "\e6a3";
}

.icon-daiziti:before {
  content: "\e6a6";
}

.icon-shangpinguanli:before {
  content: "\e6a7";
}

.icon-shoucang11:before {
  content: "\e6a8";
}

.icon-add-circle-fill:before {
  content: "\e6a9";
}

.icon-wodedingdan:before {
  content: "\e7bc";
}

.icon-shouhuodizhi:before {
  content: "\e6aa";
}

.icon-daishouhuo:before {
  content: "\e6ab";
}

.icon-quxiaodingdan:before {
  content: "\e6bc";
}

.icon-youhuiquan:before {
  content: "\e6ad";
}

.icon-chushou:before {
  content: "\e6ae";
}

.icon-pinpai1:before {
  content: "\e6af";
}

.icon-yonghushezhi1:before {
  content: "\e6b0";
}

.icon-huidaodingbu:before {
  content: "\e6b2";
}

.icon-yifahuo:before {
  content: "\e6e4";
}

.icon-save:before {
  content: "\e867";
}

.icon-daipingjia:before {
  content: "\e6b5";
}

.icon-zuji:before {
  content: "\e6b6";
}

.icon-arrow-r-2:before {
  content: "\e6b7";
}

.icon-daifahuo:before {
  content: "\e6b8";
}

.icon-quxiaodingdan-2:before {
  content: "\e6b9";
}

.icon-minus:before {
  content: "\e6ba";
}

.icon-shanchu:before {
  content: "\e6bd";
}

.icon-search-fill:before {
  content: "\e6be";
}

.icon-weiguijubao:before {
  content: "\e6bf";
}

.icon-scan:before {
  content: "\e88a";
}

.icon-kangjuxiangcun:before {
  content: "\e662";
}

.icon-fuwuchaoshi:before {
  content: "\e663";
}

.icon-shengxian:before {
  content: "\e664";
}

.icon-jianzhuwu:before {
  content: "\e666";
}

.icon-phone:before {
  content: "\e661";
}

.icon-android1:before {
  content: "\e6bb";
}

.icon-gongzhonghao:before {
  content: "\e65f";
}

.icon-jifen:before {
  content: "\e65a";
}

.icon-jifen1:before {
  content: "\e65e";
}

.icon-tiyandianxianxing:before {
  content: "\e65c";
}

.icon-wuliu1:before {
  content: "\e70d";
}

.icon-yidongyunkongzhitaiicon58:before {
  content: "\e74d";
}

.icon-xianxiayuzhan:before {
  content: "\e6d0";
}

.icon-xinjinrong:before {
  content: "\e67a";
}

.icon-yanjizhushou-shangchuan_goumaiqudao:before {
  content: "\e65d";
}

.icon-o2oshuangpingtai:before {
  content: "\e659";
}

.icon-qunfengliansuodian:before {
  content: "\ee3c";
}

.icon-jiejuefangan:before {
  content: "\e653";
}

.icon-qunfengliansuodian1:before {
  content: "\e6d4";
}

.icon-liaotian:before {
  content: "\e650";
}

.icon-qiandao:before {
  content: "\e644";
}

.icon-supplier:before {
  content: "\e651";
}

.icon-caigouziying:before {
  content: "\e673";
}

.icon-gongyingshang:before {
  content: "\e652";
}

.icon-pinpai:before {
  content: "\e654";
}

.icon-zhaoshangdaili:before {
  content: "\e6f8";
}

.icon-tianjiaduoyonghu:before {
  content: "\e657";
}

.icon-dianshangpingtaikaifa:before {
  content: "\e658";
}

.icon-down:before {
  content: "\e64e";
}

.icon-qrcodescan:before {
  content: "\ea22";
}

.icon-barcode-scan:before {
  content: "\e64d";
}

.icon-scan-icon:before {
  content: "\e679";
}

.icon-saomahexiao:before {
  content: "\e64c";
}

.icon-tihuohexiao:before {
  content: "\e65b";
}

.icon-right-circle:before {
  content: "\e77b";
}

.icon-left-circle:before {
  content: "\ee3b";
}

.icon-left:before {
  content: "\e6a0";
}

.icon-right:before {
  content: "\e6d3";
}

.icon-share:before {
  content: "\e656";
}

.icon-fenxiang3:before {
  content: "\e64b";
}

.icon-dianhua:before {
  content: "\e671";
}

.icon-weixin1:before {
  content: "\e6b1";
}

.icon-qq:before {
  content: "\e645";
}

.icon-qiye:before {
  content: "\e647";
}

.icon-sina:before {
  content: "\e660";
}

.icon-weixin2:before {
  content: "\e64a";
}

.icon-qq1:before {
  content: "\e6b4";
}

.icon-icons-:before {
  content: "\e675";
}

.icon-xiaochengxu1:before {
  content: "\e643";
}

.icon-android:before {
  content: "\e63f";
}

.icon-ios:before {
  content: "\e642";
}

.icon-wap:before {
  content: "\e689";
}

.icon-gongzuoliu2:before {
  content: "\e6f3";
}

.icon-pifatubiao:before {
  content: "\e7fd";
}

.icon-shequ1xiangqian19:before {
  content: "\e637";
}

.icon-iconbaojiao:before {
  content: "\e6a5";
}

.icon-anquanmokuaidingzhi:before {
  content: "\e6fd";
}

.icon-xinyongqiazhifu:before {
  content: "\e71a";
}

.icon-jiaofu-copy:before {
  content: "\e639";
}

.icon-yangpin:before {
  content: "\e649";
}

.icon-dengji:before {
  content: "\e68b";
}

.icon-xunjia:before {
  content: "\e63a";
}

.icon-yangpin1:before {
  content: "\e63e";
}

.icon-crm-c:before {
  content: "\e6f7";
}

.icon-crm:before {
  content: "\e7a0";
}

.icon-diy:before {
  content: "\e636";
}

.icon-xiaochengxu-1:before {
  content: "\ee3d";
}

.icon-pc:before {
  content: "\e62c";
}

.icon-erweima:before {
  content: "\e700";
}

.icon-h5:before {
  content: "\e62d";
}

.icon-code:before {
  content: "\e62f";
}

.icon-erp:before {
  content: "\e63b";
}

.icon-wuliu:before {
  content: "\e630";
}

.icon-xiaochengxu:before {
  content: "\e632";
}

.icon-search:before {
  content: "\e634";
}

.icon-app:before {
  content: "\e635";
}

.icon-passport-center:before {
  content: "\e62a";
}

.icon-paycenter:before {
  content: "\e62b";
}

.icon-pingtai3:before {
  content: "\e629";
}

.icon-fujin:before {
  content: "\e6da";
}

.icon-maijia:before {
  content: "\e625";
}

.icon-yonghuduan:before {
  content: "\e627";
}

.icon-mokuai:before {
  content: "\e628";
}

.icon-jiagou:before {
  content: "\e684";
}

.icon-pingtai2:before {
  content: "\e74a";
}

.icon-zujian:before {
  content: "\e676";
}

.icon-weixin:before {
  content: "\e680";
}

.icon-dayin:before {
  content: "\e638";
}

.icon-icon1:before {
  content: "\e646";
}

.icon-guanjianci:before {
  content: "\e698";
}

.icon-qrcode:before {
  content: "\e631";
}

.icon-tongzhixiaoximoban:before {
  content: "\e6dc";
}

.icon-kefuxiaoxi:before {
  content: "\e621";
}

.icon-weixinshezhi:before {
  content: "\e624";
}

.icon-weiyemian:before {
  content: "\e641";
}

.icon-dianpu1:before {
  content: "\e61c";
}

.icon-dingdan:before {
  content: "\e622";
}

.icon-pingtai:before {
  content: "\e668";
}

.icon-yingxiao:before {
  content: "\e633";
}

.icon-report:before {
  content: "\e655";
}

.icon-kehu:before {
  content: "\e63d";
}

.icon-shangpin1:before {
  content: "\e6a4";
}

.icon-zhifu:before {
  content: "\e626";
}

.icon-icon:before {
  content: "\e619";
}

.icon-shangchengpingtai:before {
  content: "\e61e";
}

.icon-usercenter:before {
  content: "\e72c";
}

.icon-pingtai1:before {
  content: "\e665";
}

.icon-yidong:before {
  content: "\e648";
}

.icon-yunfuwu:before {
  content: "\e61d";
}

.icon-yunying1:before {
  content: "\e61f";
}

.icon-zijin:before {
  content: "\e620";
}

.icon-dinghuoguanli:before {
  content: "\e62e";
}

.icon-shop:before {
  content: "\e68e";
}

.icon-shangcheng1:before {
  content: "\e617";
}

.icon-fenxiao:before {
  content: "\e68d";
}

.icon-fenxiao1:before {
  content: "\e618";
}

.icon-daidinghuo:before {
  content: "\e64f";
}

.icon-shangcheng:before {
  content: "\e61a";
}

.icon-shangcheng-fill:before {
  content: "\e61b";
}

.icon-ht_expand:before {
  content: "\e615";
}

.icon-xiangyingshi:before {
  content: "\e616";
}

.icon-optimize:before {
  content: "\e688";
}

.icon-jiangxin:before {
  content: "\e623";
}

.icon-gaokeyongxing:before {
  content: "\e713";
}

.icon-anquan1:before {
  content: "\e614";
}

.icon-anquan-fill:before {
  content: "\e66f";
}

.icon-anquan:before {
  content: "\e640";
}

.icon-anquan2:before {
  content: "\e63c";
}

.icon-calendar:before {
  content: "\e613";
}

.icon-shezhi:before {
  content: "\e602";
}

.icon-user-settings-fill:before {
  content: "\e612";
}

.icon-user:before {
  content: "\e605";
}

.icon-logout:before {
  content: "\e60d";
}

.icon-mail:before {
  content: "\e60e";
}

.icon-gongzuotai:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e611";
}

.icon-shezhi1:before {
  content: "\e603";
}

.icon-pengyouquan:before {
  content: "\e604";
}

.icon-cms:before {
  content: "\e606";
}

.icon-huiyuan:before {
  content: "\e607";
}

.icon-guanyuwomen:before {
  content: "\e608";
}

.icon-wangzhan:before {
  content: "\e609";
}

.icon-shangpin:before {
  content: "\e60a";
}

.icon-tongji:before {
  content: "\e60b";
}

.icon-yunying:before {
  content: "\e60c";
}

.icon-dianpu:before {
  content: "\e60f";
}

.icon-jiaoyi:before {
  content: "\e610";
}

.icon-dashboard:before {
  content: "\e601";
}

